#works {
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  overflow: hidden;
}

.worksTitle {
  margin: 1rem auto;
  font-size: 3rem;
}

.worksDesc {
  font-size: 1rem;
  font-weight: 300;
  max-width: 45rem;
}

.worksImgs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 50rem;
  padding-top: 2rem;
  margin: 0 auto;
}

.worksImg {
  object-fit: cover;
  height: 10rem;
  margin: 0.5rem;
}

.worksImg:hover {
  transform: scale(1.2);
  transition: ease-in-out 0.3s;
}

.workBtn {
  margin: 3rem auto;
  padding: 0.5rem 2.5rem;
  border: yellow solid 1px;
  border-radius: 2rem;
  color: white;
  font-size: 1rem;
}

.workBtn:hover {
  background: yellow;
  color: black;
  transition: 0.3s ease;
}

@media screen and (max-width: 800px) {
  .worksTitle {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 585px) {
  .worksImg {
    height: 40vw;
  }

  #works {
    
    margin: 0 auto; 
  }
}

@media screen and (max-width: 375px) {
  .worksImg {
    height: 40vw;
  }

  #works {
    margin: 0 auto; 
  }
}
